body, .homepage {
	background-color: #000;
}

.homepage-title, .title, .index-surah-no {
	color: #fff;
}

.tagline {
	color: #d8d8d8;
}

.table .table-row{
	background-color: #000;
}

.table a>.table-row {
	border: 1px solid transparent;
}

.table a:hover>.table-row {
	background-color: #00000099;
    border-color: #ffffff;
}


.AR, w-a, .ayah-number, .a-n, .btn-nav, .surah-nav-links, .wa, .homepage-title {
	color: #fff;
}

.AR:hover, w-a:hover, .AR-hover, .w-a-hover, .wa:hover, .wa-hover {
	color: #fff;
}

.AR-hover, .w-a-hover, .wa-hover {
  	border-bottom: 1px solid #fff;
}

.ayah:hover, .a:hover, .ayah-hover, .full-translation:hover, .f-t:hover {
	background-color: #171717bf!important;
}

.bg-gold, .btn-nav, .ayah, .a, .full-translation, .f-t {
	background-color: #000;
}

.btn:hover, .btn-gold:hover {
    color: #fff!important;
    background-color: #000;
    border-color: #fff;
}

.fixed-top {
	border-bottom: 1px solid #939393;
}

hr {
	border-top: 1px solid rgb(69, 69, 69);
}

.bismillah, .sajda-icon {
	-webkit-filter: invert(1);
   	filter: invert(1);
}

.btn, .btn-gold {
	border: none;
}

.btn-gold {
    color: #000!important;
    background-color: #fff;
}

a.surah-nav-links, a.about-link {
	color: #fff;
}

.chevron-left, .chevron-right {
    background-image: url(../images/chevron.svg);
    filter: brightness(0) invert(1);
}

.loader {
	background: url('../images/loading.png') 50% 50% no-repeat transparent;
	background-size: 150px;
	filter: brightness(0) invert(1);
}

.dropdown-menu::-webkit-scrollbar, .dropdown-menu::-webkit-scrollbar-thumb {
	background-color: #000;
}

.d-i-highlight {
  background-color: #000;
  color: #fff;
}

.bottom-nav {
	background-color: #000!important;
	border-top: 1px solid #939393!important;
	box-shadow: none;
}

.bottom-nav-surahname, #bottom-nav-surahayah {
	color: #fff;
}

.play-icon {
  background-image: url('../images/play.png');
  filter: invert(1);
}

.pause-icon {
  background-image: url('../images/pause.png');
  filter: invert(1);
}

a.last-read-link {
  color: #fff;
  border-bottom: 1px solid #fff;
}

a.surah-name-duas, a.surah-name-duas:hover {
  color: #fff;
}