body {
	background-color: #000;
}

.AR, .ayah-number, .btn-nav, .surah-nav-links {
	color: #fff;
}

.AR:hover {
	color: #fff;
}

.ayah:hover, .full-translation:hover {
	background-color: #080808;
}

.bg-gold, .btn-nav, .ayah, .full-translation {
	background-color: #000;
}

.btn:hover, .btn-gold:hover {
    color: #fff!important;
    background-color: #000;
    border-color: #fff;
}

.fixed-top {
	border-bottom: 1px solid #939393;
}

hr {
	border-top: 1px solid rgb(31, 31, 31);
}

.bismillah {
	background-image: url("../images/b-w.png");
}

.btn, .btn-gold {
	border: none;
}

.btn-gold {
    color: #000!important;
    background-color: #fff;
}

a.surah-nav-links, a.about-link {
	color: #fff;
}

.chevron-left, .chevron-right {
    background-image: url(../images/chevron-white.svg);
}

.loader {
	background: url('../images/loading-white.svg') 50% 50% no-repeat #79797978;
}

.dropdown-menu::-webkit-scrollbar, .dropdown-menu::-webkit-scrollbar-thumb {
	background-color: #000;
}


.bottom-nav {
	background-color: #000!important;
	border-top: 1px solid #939393!important;
}

.icon-prev, .icon-next, .icon-play, .icon-volume-on, .icon-volume-off, .icon-repeat, .icon-playlist {
	fill: #c3c3c3
}

.track__time, .track__title {
	color: #c3c3c3;
}