.word {
	margin: 0 6px;
}

.AR {
	margin: 10px 0px 0px -5px;
}

.TR, .TRL {
	display: none;
}

.ayah {
	margin-top: 15px;
	margin-bottom: 20px;
}

.ayah-number {
	margin-top: 75px;
}

.ayah-number-after .ayah-number {
	margin-top: 30px;
}