.word {
	margin: 0 6px;
}

.AR, w-a, wa {
	margin: 10px 0px 0px -5px;
}

.TR, .TRL, w-t, w-l, wt, wl {
	display: none;
}

.ayah, .a {
	margin-top: 15px;
	margin-bottom: 20px;
}

.ayah-number, .a-n {
	margin-top: 85px;
}

.ayah-number-after .ayah-number, .a-n-a .a-n {
	margin-top: 30px;
}