/********
 * Fonts
 ********/
@font-face {
  font-family: 'Uthmani';
  src: url('../../assets/fonts/Uthmani.woff2') format('woff2'), url('../../assets/fonts/Uthmani.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IndoPak';
  src: url('../../assets/fonts/IndoPak.woff2') format('woff2'), url('../../assets/fonts/IndoPak.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: local('Cabin-Bold');
    src: url('../../assets/fonts/Cabin-Bold.eot');
    src: url('../../assets/fonts/Cabin-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/Cabin-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Cabin-Bold.woff') format('woff'),
        url('../../assets/fonts/Cabin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


/**********
 * Default
 **********/
:root {
  --gold: #91740c;
}

::-moz-selection,
::selection {
  background: var(--gold);
  color: #fff;
  text-shadow: none;
}

hr {
  margin-top: 8px;
  margin-bottom: 0px;
}

a:hover {
  text-decoration: none;
}


/*************
 * Index page
 *************/
.homepage {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.index-main-surah-list {
  margin: 0px 30px 0px 30px;
}

.index-surah-no {
  color: var(--gold);
  font-weight: 600;
  padding-right: 20px;
  margin-top: -19px;
}

.index-surahname-ar {
  font-size: 15px;
  float: right;
}

.letter-Q {
  font-size: 210px;
}

.homepage-title {
  font-size: 160px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  text-align: center;
  color: var(--gold);
  display: inline;
  margin-left: -20px;
  letter-spacing: -8px;
}

.tagline {
  color: var(--gold);
  margin-top: -30px;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: bold;
}


/*************
 * About page
 *************/
.about-heading {
  color: var(--gold);
  font-family: cabin, arial;
  font-size: 25px;
}

.about-list {
  margin-bottom: -15px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: justify;
}


/*************
 * Surah page
 *************/
.bismillah {
  background-image: url("../images/bismillah.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 350px 75px;
  width: 350px;
  height: 75px;
  /*margin-bottom: 40px;*/
  margin-left: auto;
  margin-right: auto;
}

.bismillah-english {
  font-size: 12px;
  color: #999999;
}

button {
  touch-action: manipulation;
}

.btn:focus, .btn:active, button:focus {
  outline: none !important;
  box-shadow: none;
}

.btn {
  border-radius: 0px;
}

.dropdown-menu {
  max-height: 335px;
  overflow-y: scroll;
  border-radius: 0px;
  margin-top: 7px;
}

.dropdown-menu::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.dropdown-menu::-webkit-scrollbar {
  width: 15px;
  background-color: var(--gold);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: var(--gold)
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item:active, .d-i:active {
  background-color: var(--gold);
}

.d-i-highlight {
  background-color: #91740c;
  color: #fff;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.45s ease;
}

.bg-gold {
  background-color: var(--gold);
}

.navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}

.nav-link, .navbar {
  padding: 0em 1rem 0em 1em;
}

.nav-link {
  font-size: 14px;
}

.nav-settings {
  margin-bottom: 20px;
}

.ns-b-h {
  max-width: 35%;
  flex: 35%;
}

.ns-b-b {
  max-width: 15%;
  flex: 15%;
}

.btn-nav {
  color: #fff;
  background-color: var(--gold);
  border-color: var(--gold);
  margin-right: 5px;
  float: right;
}

.home-icon {
  display: none;
}

.navbar-brand {
  font-size: 19px;
}

.nav-link {
  outline: none;
}

.navbar-toggler {
  padding: 0px;
  background: none;
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: 0;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin: 4px 0 4px 0;
  transition: all 0.5s;
}

.navbar-dark .navbar-toggler .icon-bar {
  background: #ffffff;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
  transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
  transform: rotate(0);
}

.nav-slash {
  color: rgba(255,255,255,.5);
}

.surah-nav-ar {
  font-weight: 300;
  font-size: 15px;
}

.surah-nav-margin {
  padding-bottom: 70px;
}

.navbar-toggler, .navbar-toggler:hover, .navbar-toggler:focus {
  border: none;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.ml-auto {
  margin-right: 20px;
}

a.surah-nav-links,
a.about-link {
  color: var(--gold);
}

a.surah-nav-links {
  font-size: 15px;
  text-transform: uppercase;
}


/*
a.surah-nav-links:hover,
a.about-link:hover {
  border-bottom: 1px var(--gold) solid;
}
*/

a.surah-selector-link {
  color: black;
  text-decoration: none;
}

a.surah-selector-link:hover {
  color: var(--gold);
  text-decoration: none;
}

.single-ayah, .s-a {
  /*
  padding-top: 43px;
  margin-top: -28px;
  */
  padding-top: 35px;
  margin-top: -5px;
}

.ayah, .a {
  display: inline-block;
  width: 100%;
  padding: 10px 0px 10px 0px;
  /*border: 1px solid transparent;*/
}

.ayah:hover, .a:hover, .ayah-hover, .full-translation:hover, .f-t:hover, .f-t-hover {
  background-color: #f7f7f799;
  cursor: pointer;
  /*  
  box-shadow: 0 4px 21px -3px rgba(51,51,51,.15);
  border-color: #f0f0f0;
  border: 1px solid #91740c;
  border-radius: 5px;
  transition: box-shadow .25s ease-in-out,border .25s ease-in-out;
  */
}

.full-translation, .f-t {
  font-size: 17px;
  text-align: justify;
  color: #959494;
  padding-right: 0px;
  padding-left: 0px;
}

w-t, w-a, w-l, wt, wa, wl { 
  display: block; 
}

.word, .w, s-w, sw {
  text-align: center;
  float: right;
  margin: 0 8px;
  cursor: pointer;
}

.AR, w-a, wa {
  font-family: 'IndoPak', arial;
  text-align: center;
  font-size: 50px;
  margin: -2px 0px -5px -5px;
  border-bottom: 1px solid transparent;
}

.AR:hover, .AR-hover, w-a:hover, .w-a-hover, .wa-hover, wa:hover {
  color: var(--gold);
}

.AR-hover, .w-a-hover, .wa-hover {
  border-bottom: 1px solid var(--gold);
}

.TRL, .TR, w-l, w-t, wl, wt {
  font-size: 10px;
  font-family: arial;
  color: #999999;
  direction: ltr;
}

.TRL, w-l, wl {
  padding-top: 5px;
  padding-bottom: 10px;
}

.TR, w-t, wt {
  padding-top: 10px;
  padding-bottom: 30px;
}

.ayah-number, .a-n {
  margin: 85px 25px 0px 0px;
  color: var(--gold);
  font-size: 20px;
}

.ayah-number-after .ayah-number, .a-n-a .a-n {
  padding-left: 25px;
  margin-top: 40px;
  margin-right: -8px;
}

.full-translation .ayah-number, .f-t .a-n {
  margin: 0px;
  font-size: inherit;
  display: inline;
}

.f-t .a-n:after {
  content: '.';
}

.ayah-number-mobile, .a-n-m {
  text-align: center;
  color: var(--gold);
  margin-bottom: -20px;
  font-size: 18px;
  font-weight: 500;
}

.ayah-number-before, .a-n-b {
  display: block;
  text-align: right!important;
}

.ayah-number-after, .a-n-a {
  display: none;
}

.modal-content {
  border: none;
  border-radius: 0px;
  background-color: #ffffffe0;
}

.continue-reading-margin {
  margin: 20px 0px -20px 0px;
}

.left-icon {
  font-size: 15px;
  padding-right: 5px;
}

.right-icon {
  font-size: 15px;
  padding-left: 5px;
}

.btn-gold {
  color: #fff;
  background-color: var(--gold);
  border-color: var(--gold);
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 0px;
}

.btn:hover, .btn-gold:hover {
  color: var(--gold);
  background-color: transparent;
  border-color: var(--gold);
}

.gold {
  color: var(--gold);
}

/*
#back-to-top {
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 32px;
  padding: 0px 10px 5px 10px;
  text-align: center;
  line-height: 30px;
  background: #91740c url('../images/top-arrow.svg') no-repeat center 50%;
  color: #fff;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}


#back-to-top.show:hover {
  opacity: 1;
}

#back-to-top.show {
  opacity: 0.5;
}
*/

.loader {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url('../images/loading.png') 50% 50% no-repeat transparent;
  background-size: 150px;
}

.chevron-down, .chevron-up, .chevron-left, .chevron-right, .chevron-down-nav, .chevron-up-nav {
  background-image: url('../images/chevron.svg');
}

.chevron-down {
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: -1px;
}

.chevron-up {
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-bottom: -1px;
}

.chevron-down-nav, .chevron-up-nav {
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-bottom: -2px;
}

.chevron-up, .chevron-up-nav {
  transform: rotate(180deg);
}

.chevron-left {
  transform: rotate(90deg);
}

.chevron-right {
  transform: rotate(270deg);
}

.chevron-left, .chevron-right {
  background-repeat: no-repeat;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
}

.modal-body .col-6 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

/* Surah audio player */
.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 42px;
  font-family: inherit;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: 1px solid #ccc;
  background: #ffffff;
  box-shadow: 0 -1px 10px #ccc;
  z-index: 99999;
}

.bottom-nav__inner {
  width: 85%;
  display: flex;
  max-width: 1440px;
  margin: auto;
}

.bottom-nav__item {
  justify-content: center;
  /*align-items: center;
  display: flex;
  flex: 1;*/
}

.bottom-nav-surahplayer, .bottom-nav-surahplayer2 {
  width: 60%;
  padding: 0 20px;
  text-align: center;
  padding-top: 11px;
  cursor: pointer;
}

.bottom-nav__item.bottom-nav__item--prevsurah, .bottom-nav__item.bottom-nav__item--nextsurah {
  width: 20%;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

.play-icon {
  background-image: url('../images/play.png');
}

.pause-icon {
  background-image: url('../images/pause.png');
}

.play-pause-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-size: 15px;
  background-repeat: no-repeat;
  margin-bottom: -5px;
}

.bottom-nav-surahname {
  padding-left: 5px;
  padding-right: 5px;
}

#bottom-nav-surahayah {
  display: none;
}

.back-to-word {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #91740c;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 0px;
  font-size: 18px;
}

.back-to-word:hover {
  background-color: #555;
}

.last-read {
  display: none;
  font-size: 19px;
  padding-bottom: 20px;
  /*color: #91740cf7;*/
}

a.last-read-link {
  color: #91740c;
  border-bottom: 1px solid #91740c;
}

h5.modal-about {
  margin-top: 20px;
  color: #7e7e7e;
}

a.modal-about-link {
  color: #91740c;
}

a.modal-about-link:hover {
  text-decoration: underline;
}

/*************
 * Responsive
 *************/
/* Portrait */
@media only screen and (min-device-width: 300px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

  .index-main-surah-list {
    margin: 0 0 0 0px;
  }

  .index-surah-list {
    flex: 100%;
    max-width: 100%;
    border-bottom: 1px #ebebeb solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .index-row-1 {
    font-size: 20px;
  }

  .index-row-2 {
    margin-top: 0px;
  }

  .index-surah-no {
    flex: 13%;
    max-width: 13%;
    font-size: 16px;
  }

  .index-surahname,
  .index-surahname-en {
    flex: 56%;
    max-width: 56%;
  }

  .index-surahname-ar,
  .index-surah-verses {
    flex: 31%;
    max-width: 31%;
  }

  h5 {
    font-size: 15px;
  }

  .homepage {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .homepage-title {
    font-size: 100px;
    letter-spacing: -5px;
  }

  .letter-Q {
    font-size: 150px;
  }

  .tagline {
    font-size: 10px;
    margin-top: -30px;
  }

  a.homepage-links {
    font-size: 14px;
  }

  .nav-link, .navbar {
    padding: 0.5em 1rem 0.5em 1em;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-settings {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* Nav settings big heading/button */
  .ns-b-h {
    max-width: 70%;
    flex: 70%;
  }

  .ns-b-b {
    max-width: 30%;
    flex: 30%;
  }

  .nav-surahname-en {
    display: none;
  }

  li.nav-item {
    padding-right: 14px;
  }

  /* .default:after { content: "Def"; } */
  .surah-selector {
    max-width: 50%;
    flex: 50%;
  }

  .n-s {
    font-size: 15px;
  }

  .AR, w-a, wa {
    font-size: 30px;
  }

  .TRL, .TR, w-l, w-t, wl, wt {
    font-size: 8px;
  }

  .full-translation, .f-t {
    font-size: 12px;
  }

  .ayah-number, .a-n {
    font-size: 14px;
    margin: 50px 5px 0px -20px;
  }

  .bismillah {
    background-size: 250px 55px;
    width: 250px;
    height: 55px;
    /*margin-bottom: 35px;*/
  }

  .bismillah-english {
    font-size: 10px;
  }

  .btn-load-surah, a.surah-nav-links {
    font-size: 17px;
  }

  .surah-nav-ar {
    display: none;
  }

  .center-block {
    max-width: 100%;
    flex: 0 0 100%;
  }

  #back-to-top {
    width: 35px;
    padding: 0px;
    right: 5px;
  }

  .single-ayah, .s-a {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ayah-number-before, .a-n-b {
    display: none;
  }

  .ayah-number-after, .a-n-a {
    display: block;
  }

  .chevron-left, .chevron-right {
    margin-top: 5px;
  }

  .navbar {
    padding: 0.1em 1rem 0.1em 1em;
  }

  .back-to-word {
    right: 15px;
  }

  /* Surah audio player */
  .bottom-nav__inner { width: 100%; }
  .bottom-nav__item.bottom-nav__item--prevsurah, .bottom-nav__item.bottom-nav__item--nextsurah { width: 42.5%; padding-top: 9px; }
  .bottom-nav__item.bottom-nav__item--prevsurah { text-align: left; padding-left: 10px; }
  .bottom-nav__item.bottom-nav__item--nextsurah { text-align: right; padding-right: 10px; }
  .bottom-nav-surahplayer, .bottom-nav-surahplayer2 { width: 15%; padding: 0 10px;  }
  a.surah-nav-links { font-size: 14px!important; }
  .bottom-nav-surahname { display: none; }
  .play-pause-icon { margin-bottom: -16px; }
  #bottom-nav-surahayah { display: none!important; }

  .last-read {
    font-size: 15px;
  }

}


/* Landscape */
@media only screen and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

  .index-main-surah-list {
    margin: 0 0 0 0px;
  }

  .index-row-1 {
    font-size: 15px;
  }

  .index-row-2 {
    font-size: 9px;
  }

  .index-surah-list {
    flex: 50%;
    max-width: 50%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .index-surah-no {
    flex: 13%;
    max-width: 13%;
  }

  .index-surahname-ar,
  .index-surah-verses {
    flex: 27%;
    max-width: 27%;
  }

  .index-surahname,
  .index-surahname-en {
    flex: 55%;
    max-width: 55%;
  }

  .surah-nav-ar {
    display: none;
  }

  .homepage-title {
    font-size: 100px;
    letter-spacing: -5px;
  }

  .letter-Q {
    font-size: 150px;
  }

  .homepage {
    padding-top: 0px;
  }

  .container {
    max-width: 650px;
  }

  .AR, w-a, wa {
    font-size: 40px;
  }

  .ayah, .a {
    margin-right: -40px;
  }

  .full-translation, .f-t {
    font-size: 8px;
  }

  .ayah-number, .a-n {
    font-size: 16px;
    margin-top: 60px;
  }

  .navbar {
    padding: 0em 1rem 0em 1em;
  }

  .nav-link {
    padding: 0.5em 1rem 0.5em 1em;
  }

  .nav-settings {
    flex: 0 0 50%;
    max-width: 100%;
  }

  .nav-four-btn-heading,
  .nav-four-btn {
    flex: 0 0 50%;
    max-width: 50%;
  }

  li.nav-item {
    padding-right: 15px;
  }

  #back-to-top {
    right: 15px;
  }

  /* Surah audio player */
  .bottom-nav__inner { width: 100%; }
  .bottom-nav-surahplayer, .bottom-nav-surahplayer2 { width: 50%; }
  .bottom-nav__item.bottom-nav__item--prevsurah, .bottom-nav__item.bottom-nav__item--nextsurah { width: 25%; }
  #bottom-nav-surahayah { display: none!important; }
  
}

@media only screen and (min-device-width: 668px)
and (max-device-width: 991px) {

  .nav-link, .navbar {
    padding: 0.5em 1rem 0.5em 1em;
  }

  .nav-link {
    font-size: 20px;
  }

  li.nav-item {
    padding-right: 15px;
  }

}

@media only screen and (max-device-width: 991px) {

  .home-icon {
    display: block;
  }

}